*{
    margin:0px;
    box-sizing: border-box;
    padding: 0px;

}


header{
    border: solid 1px;
    height: 200px;
}
h3{
    margin: 20px; 
}
nav{
    display: flex;
}
.head-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    margin:20px;
}
.navbar h4{
    margin: 20px;
}
header h1{

    font-size: 30px;
    text-align: center;
}


main{
    border: solid;
    display: flex;
    width: 100%;
    height: 100%;
}

article{
    width: 20%;
    border: solid 1px;
} 
article h1{
    margin: 20px;
}

article p{
    padding: 20px;
    border-bottom: solid 1px;
}
article p:last-child{
    border-bottom: none;
}

.work-experience{
    width: 50%;
    border: solid 1px;
}
.work-experience h1{
    margin: 20px;
}
.work{
    padding:20px;
    border-bottom: solid 1px;
}
.work p{
    margin-bottom: 5px;
}
.work a{
    text-decoration: none;
}
.work:last-child{
    border: none;
}

.education{
    width: 30%;
    border: solid 1px;
}
.education h1{
    margin: 20px;
}
.education p, ul{
    margin:20px;
    list-style: none;
}


footer{
    border: solid 1px;
    
}

footer h1{
    margin: 20px;
}

footer .reviews{
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

footer .review{
   padding: 20px;
   border: solid 1px;
   border-radius: 20px;
  
}
.review p{
    color: grey;
}
.review p:first-child{
    padding-bottom: 5px;
    color: black;
}

.copyright{
    text-align: center;
    
    margin: 100px 0px 30px 0px;
    font-size: 20px;
}